.row {
    display: flex;
}

.card {
    flex: 1;
    margin: 3rem;
    padding: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1.5rem;
}

.right {
    display: flex;
    justify-content: flex-end;
    padding: 0px 2rem
}