.card {
    margin: 1rem;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card img {
    width: 200px;
    height: auto;
}

.cardImg {
    height: 175px;
    overflow: hidden;
}

.cardBody {
    padding: 1rem;
}

.input input,
.input textarea {
    margin-top: 0.25rem;
    border: 0px;
    background-color: rgb(250, 250,250);
    border-radius: 4px;
    outline: 0px;
    display: block;  
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 100%;
    font-weight: 500;
    transition: all 0.3s ease;
}

.input input {
    height: 1.25rem;
}

.input textarea {
    height: 6rem;
}

.input input:hover,
.input textarea:hover, 
.input input:focus,
.input textarea:focus {
    background-color: #eee;
} 

.input {
    margin-bottom: 0.75rem;
}

.input label {
    font-weight: 700;
    color: #777
}

.departmentList,
.categoryList 
{
    list-style-type: none;
    padding: 0.5rem 1rem;
}

.categoryList li {
    margin-top: 0.5rem
}

.departmentList > li > ul {
    border-top: 1px solid black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.categoryList {
    padding: 0.5rem 1rem 
}

.btnGroup {
    display: flex;
    width: 100%;
}

.addToCart,
.addToWishList
{
    border: 0px;
    padding: .35rem;
    border-radius: 0.175rem;
}

.addToCart {

    background-color: teal;
    color: white;
    flex: 1;
    margin-right: 0.2rem;
}

.addToWishList {
    background-color: transparent;
    color: crimson;
    border: 1px solid crimson;
}

.productLabel {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: .5rem
}

.productPrice {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: .5rem
}

.spinner {
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000000;
}

.modal {
    background-color: white;
    max-width: 400px;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 1rem;
}

.modal h2 {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid teal;
}

.modal_btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.emptyList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #bbb;
    min-height: 50vh;
}

.emptyList svg {
    margin: 0px auto
}

.emptyList h3 {
    font-size: 2rem;
}