body {
  background-color: rgb(245,245,245);
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit
}

.teal-button {
  border: 0px;
  color:white;
  background-color: teal;
}

.btn {
  padding: 0.5rem 0.75rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px; 
  transition: all 0.3s ease;
  margin: .5rem
}

.btn:hover {
  transform: scale(1.075);
}

hr {
  border: .5px solid #ddd;
  margin-left: 10%;
  margin-right: 10%
}