

.hero {
    margin-top: 25vh;
    border: 1px solid #ccc;
    text-align: center;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem
}

.search input {
    border: 0px;
    outline: 0px;
    height: 16px;
    font-size: 1rem;
    font-weight: 700
}

.search button {
    background-color: transparent;
    border: 0px;
}

.search svg path {
    color: #ccc
}

.search {
    border-radius: 1rem;
    border: 1px solid #eee;
    width: fit-content;
    margin: 0px auto;
    padding: 0.5rem;
    position: relative;
}

.section {
    min-height: 80vh
}

.departmentCards,
.productList {
    display: flex;
    flex-wrap: wrap
}

.results {
    position: absolute;
    left: 0px;
    top: calc(100% + 5px);
    padding: 1rem;
    background-color: white;
    width: 100%;
}

.result {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    text-align: left;
    display: flex;
}

.result h4 {
    margin-bottom: .25rem;
}

.result img {
    width: 80px;
    height: auto;
}

.result > div:first-child {
    margin-right: 0.5rem
}