.container {
    display: flex;
    min-width: 100%;
    width: 100%;
}

.sidebar {
    width: 300px;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right : 1px solid #ccc
}

.products {
    flex: 1;
}

.productDetail {
    display: flex;
    flex-wrap: wrap;
}

.productDescription {
    margin-left: 1rem;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.productDetail > div {
    flex: 1;
    min-width: 250px;
}

.shareBox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.shareBox > div {
    flex: 1;
    min-width: 200px;
    max-width: 100%;
    padding: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    margin: 1rem;
    border-radius: 5rem;
}

.counter {
    display: flex;
    margin: 1rem auto;
    width: 150px
}

.counter span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

.counter button {
    border: 1px solid black;
    padding: .25rem .75rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 40px;
    background-color: transparent;
    border-radius: 8px;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions button {
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.actions button:first-child{
    border: 0px;
    background-color: teal;
    color:white;
}

.actions button:last-child{
    border: 1px solid crimson;
    color: crimson;
    background-color: transparent;
}

.comments textarea {
    width: 100%;
    border: 0px;
    background-color: #eee;
    margin-bottom: 1rem;
}
