.score {
    display: flex;
}

.score h1,
.score p
{
    text-align: center;
}

.score > div {
    padding: 0.5rem
}

.bars {
    width: 100%;
}

.bar {
    min-width: 100%;
    height: 12px;
    background-color: #eee;
    margin-top: 5px;
    border-radius: 6px;
    font-size:0px
}

.bar > div,
.filledStar svg path
{
    background-color: #F7CA00;
    color: #F7CA00 !important;
    border-radius: 6px;
}

.bar > div {
    height: 100%;
    width: 0px
}

div.filledStar {
    min-width: 100px;
}

.reviewStars {
    margin-bottom: 1rem;
    transform: scale(1.125);
}

.reviewStars svg path {
    color: #eee;
}

.reviewStars svg path:hover {
    color: #F7CA00;
}

.reviewStars > div {
    margin: 0px auto;
    width: fit-content;
}

.review {
    margin-bottom: 1rem;
    padding: 0.5rem 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}